button.fifteenBtn{
  width:60px;
  height:60px;
  background-color: #FCFFFE;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  box-shadow:none;
}

table{
  margin: auto;
  border-radius: 5px;
  background-color: #AAAAAA;
}
